html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-image: url('../images/background.png'); 
	background-color:#555;
    background-size:cover;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #fff;
}

.statusBar {
	/* this line tells the browser to use H/W acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	width: 100%;
	height: 50px;
	background-color: #777;
	opacity: 0.5;
	display: block;
}
.statusBarContent {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	opacity: 1;
	overflow: hidden;
	display: block;
}

